@import "./static/css/base.css";
@import "./static/css/vendor.css";
@import "./static/css/main.css";
/* html {
    height: 100%;
    font-size: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    height: 100%;
    background: #111111;
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.765;
    color: #757575;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
} */
